# Secrets
.env
keys/
*.json

# Python
__pycache__/
*.pyc
.venv/
venv/

# dbt
dbt/ecommerce_dbt/target/
dbt/ecommerce_dbt/dbt_packages/
dbt/ecommerce_dbt/logs/

# Airflow
airflow/logs/

# Spark output
spark/raw/

# PostgreSQL data (runtime, không commit)
postgres_data/

# Logs
logs/

# Data files
data/
*.parquet
*.csv

# OS
.DS_Store
Thumbs.db
