# Secrets
.env
keys/
*.json

# Python
__pycache__/
*.pyc
.venv/

# dbt
dbt/ecommerce_dbt/target/
dbt/ecommerce_dbt/dbt_packages/
dbt/ecommerce_dbt/logs/

# Airflow
airflow/logs/

# Data files
data/
*.parquet
*.csv

# OS
.DS_Store
Thumbs.db